.titulo {
    color: blue;
    text-align: center;
}
body{
    background-color:powderblue;

}

.wrapper {
    text-align: center;
    margin: 2em;
}

.buttonCentro {
    position: absolute;
    top: 50%;
}